html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map-canvas {
    height: 100%;
    padding: 0px;
    z-index: -1;
}

#sidebar {
    position: absolute;
    width: 220px;
    overflow:auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
}

#step1 {
    
}

#step2 {
    display: none;
}

.steps {
    font-size: 20px;
    padding: 0px;
}




