html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Dosis, Arial, Helvetica, sans-serif;
}

input {
    -webkit-border-radius: 4px;
    border: 1px solid #85C285;
    width: 80px;
    margin-left: 20px;
}

#map-canvas {
    height: 100%;
    padding: 0px;
}

#logo1 {
    position: absolute;
    height: 200px;
    text-align: center;
    overflow:auto;
    float: left;
    background: transparent;
    margin-top: 400px;
    margin-left: 100px;
    z-index: 2
}

#step1 {
    position: absolute;
    height: 150px;
    text-align: center;
    overflow:auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    /*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/
    opacity: 0.95;
    margin-top: 425px;
    z-index: 1;
    width: 100%
}

#logo2 {
    display: none;
    position: absolute;
    height: 200px;
    text-align: center;
    overflow:auto;
    float: left;
    background: transparent;
    margin-top: 400px;
    margin-left: 280px;
    z-index: 2
}

#step2 {
    display: none;
    position: absolute;
    width: 25%;
    height: 150px;
    text-align: left;
    overflow:auto;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    opacity: 0.95;
    margin-top: 425px;
    z-index: 1
}

#logo3 {
    display: none;
    position: fixed;
    bottom: 0px;
    height: 140px;
    text-align: center;
    overflow:auto;
    float: left;
    background: transparent;
    padding-bottom: 10px;
    margin-left: 10px;
    z-index: 2
}

#step2 {
    display: none;
    position: absolute;
    width: 25%;
    height: 150px;
    text-align: left;
    overflow:auto;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    opacity: 0.95;
    margin-top: 425px;
    z-index: 1
}

/* this is the find route button */
#render {
    width: 70px;
    height: 40px;
    background-color: #CCFFCC;
    /*moz-border-radius: 15px;*/ /*came with button styling template */ 
    -webkit-border-radius: 15px;
    border: 1px solid #85C285;
    padding: 5px;
    
}

#render:hover {
    background: #009444;
}

/* this is the no button */    
#no {
    width: 110px;
    height: 40px;
    background-color: #F2AAB6;
    /*moz-border-radius: 15px;*/ /*came with button styling template */ 
    -webkit-border-radius: 15px;
    border: 1px solid #E83152;
    padding: 5px;
    margin: 5px;
}

#no:hover {
    background: #E83152;
}

/* this is the yes button */
#yes {
    width: 110px;
    height: 40px;
    background-color: #CCFFCC;
    /*moz-border-radius: 15px;*/ /*came with button styling template */ 
    -webkit-border-radius: 15px;
    border: 1px solid #85C285;
    padding: 5px;
    margin: 5px;
}

#yes:hover {
    background: #009444;
}

.steps {
    font-size: 24px;
    padding: 0px;
}

#new-route-link {
    font-size: 16px;
    color: #74C0C4
}

/*#new-route-link-2 {*/
/*    font-size: 20px;*/
/*    color: #000000;*/
/*}*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    10;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/speechbubble.png')
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}



