<!-- web -->
<!DOCTYPE html>
  <html>
    <head>
      {% block head %}
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel='stylesheet'
            type='text/css'
            href='http://fonts.googleapis.com/css?family=Dosis:300,400' />
      <title>{% block title %}base{% endblock %}</title>
      <!-- Mapbox - Mapbox.js, CSS, accessToken -->
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
        <script>
          L.mapbox.accessToken = 'pk.eyJ1IjoidGVzc2xpbnMiLCJhIjoiSGNpcE5uVSJ9.kHgz12zmSHH04rnVwRf2YQ';
        </script>
      <!-- geojson library -->
      <script src="js/geojson.min.js"></script>
      <!-- jQuery--> 
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
      </script>
      {% endblock %}
    </head>
    <body>
      {% block body %}
      {% endblock %}
      <div id="map-canvas"></div>
      <div class="modal"></div>
      <script type='text/javascript' src="js/mapbox.js"></script>
    </body>
  </html>