<!-- web -->
<!DOCTYPE html>
  <html>
    <head>
      {% block head %}
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel='stylesheet'
            type='text/css'
            href='http://fonts.googleapis.com/css?family=Dosis:300,400' />
      <title>{% block title %}base{% endblock %}</title>
      <!-- Google Maps & Places API -->
      <script
        type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
      </script>
      <!-- jQuery: need to also add script for web-less jQuery just in case?! --> 
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
      </script>
      <script type='text/javascript' src="js/initialize_map.js"></script>
      {% endblock %}
    </head>
    <body>
      {% block body %}
      {% endblock %}
      <div id="map-canvas"></div>
      <div class="modal"></div>
    </body>
  </html>