{% extends 'base.html' %}
<title>{% block title %}mapmpamap{% endblock %}</title>
{% block sidebar_div %}
<div id = "sidebar" >
  <h1>step 1. search up in hurr</h1>
    <div class="sidebar-box"> <!-- this div is for zip code search box -->
      <input type="text" placeholder="zip code" id="address" name="address">
      <input
        type="text"
        placeholder="minimum distance"
        id="min_distance"
        name="min_distance">
        <label for="min_distance">meters</label>
      <input
        type="text"
        placeholder="maximum distance"
        id="max_distance"
        name="max_distance">
        <label for="min_distance">meters</label>
      <input type="button" value="find a route" id="render" />
    </div>
    <div class="sidebar-box"> <!-- this div is for yes/no buttons -->
      <h1>step 2. do you like this route? (no maybes)</h1>
      <input type="button" value="yes!" id="yes" />
      <input type="text" id="number" value="0"/>
      <input type="button" value="nope" id="no" />
    </div>
</div>
{% endblock %}
