{% extends 'base.html' %}
<title>{% block title %}mapmpamap{% endblock %}</title>
{% block body %}
{% block bar_div %}
  <div id="logo1">
    <a href="."><img src="/img/logo.png" alt="logo" height=200></a>
  </div>
    <div id="step1"> 
    <h1 class="steps">Tell us where you are and how far you like to run.</h1>
<!--      <label for="address">Location</label>-->
        <input
             type="text"
             placeholder="ZIPCODE"
             id="address"
             name="address">
<!--      <label for="distance">Distance</label>-->
        <input
          type="text"
          placeholder="MILES"
          id="distance"
          name="distance">
        <p><input type="button" value="find routes" id="render"/></p>
      </div>
      <div id="logo2">
        <a href="."><img src="/img/logo.png" alt="logo" height=200></a>
      </div>
      <div id="step2">
        <h1 class="steps">Go running for what?</h1>
        <input type="button" value="yes, dig this route" id="yes" />
        <input type="button" value="nope, next route" id="no" />
        <p><a id="new-route-link"
              href=".">psych! do a route search in a new location</a></p>
      </div>
      <div class="loading">
        <p><img src="/img/logo.png" /> Please Wait</p>
      </div>
{% endblock %}
{% endblock %}
