{% extends 'base.html' %}
{% block title %}mapmapmap{% endblock %}
{%block head_js %}
<!--  <script type='text/javascript' src="js/initialize_map.js"></script>-->
<!-- note: the following script is unsuccessfully trying to load the lat_lng from python into the js script.-->
  <script type='text/javascript'>
    function declare_variable () {
    var lat_long = {{ lat_lng|tojson|safe }};
    }
  </script>
  <script type='text/javascript'>
    var map;
    function initialize () {
      // Create the map.
      var lat_lng = eval('({{ lat_lng }})')
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 8,
        center: new google.maps.LatLng(lat_lng)
      });
    
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}
