<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" />
    <script>
    var lat = {{ lat }}
    var lng = {{ lng }}      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<!--    <script type="text/javascript" src="js/simple_map_render.js"></script>
-->
    <script type="text/javascript" src="js/place_marker.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>